<mat-card>
  <mat-card-title>{{ recipe.id ? 'Редактирование рецепта' : 'Создание рецепта' }}</mat-card-title>

  <form (ngSubmit)="saveRecipe()" #recipeForm="ngForm">
    <!-- Название рецепта -->
    <mat-form-field appearance="outline">
      <input matInput placeholder="Название" [(ngModel)]="recipe.name" name="name" required />
    </mat-form-field>

    <!-- Описание рецепта -->
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Описание" [(ngModel)]="recipe.description" name="description"></textarea>
    </mat-form-field>

    <!-- Картинка -->
    <div>
      <label>Картинка</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      <img *ngIf="recipe.image" [src]="recipe.image" alt="Preview" class="image-preview" />
    </div>

    <!-- Ингредиенты -->
    <h3>Ингредиенты</h3>
    <div *ngFor="let ingredient of recipe.ingredients; let i = index">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Название" [(ngModel)]="ingredient.name" name="ingredientName_{{i}}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="number" placeholder="Количество" [(ngModel)]="ingredient.quantity" name="ingredientQuantity_{{i}}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Единица измерения" [(ngModel)]="ingredient.unit" name="ingredientUnit_{{i}}" />
      </mat-form-field>
      <button mat-button (click)="removeIngredient(i)">Удалить ингредиент</button>
    </div>
    <button mat-button type="submit">Сохранить рецепт</button>
    <button mat-button type="button" (click)="addIngredient()">Добавить ингредиент</button>
    <button mat-button (click)="cancel()">Отмена</button>
  </form>
</mat-card>
