<div class="recipe-form-container">
  <div class="recipe-form-header">
    <h2>{{ recipe.id ? 'Редактирование рецепта' : 'Создание рецепта' }}</h2>
  </div>

  <form class="recipe-form-content" (ngSubmit)="saveRecipe()">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Название" [(ngModel)]="recipe.name" name="name" required />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Описание" [(ngModel)]="recipe.description" name="description"></textarea>
    </mat-form-field>

    <div class="ingredients-section">
      <h3>Ингредиенты</h3>

      <div *ngFor="let ingredient of recipe.ingredients; let i = index" class="ingredient-item">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Название" [(ngModel)]="ingredient.name" name="ingredientName_{{i}}" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Количество" [(ngModel)]="ingredient.quantity" name="ingredientQuantity_{{i}}" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Единица измерения" [(ngModel)]="ingredient.unit" name="ingredientUnit_{{i}}" />
        </mat-form-field>


        <button mat-button class="remove-ingredient-button" (click)="removeIngredient(i)">Удалить</button>
      </div>

      <button mat-button class="add-ingredient-button" type="button" (click)="addIngredient()">Добавить ингредиент</button>
    </div>
<hr>
    <div class="recipe-form-actions">
      <button mat-button class="recipe-form-button" type="submit">Сохранить рецепт</button>
      <button mat-button class="recipe-form-button" (click)="cancel()">Отмена</button>
    </div>
  </form>
</div>
